@charset "utf-8";
/* CSS Document */

.clear { clear:both; overflow:hidden; *display:inline;}
.none { display:none; }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
* html .clearfix, *:first-child+html .clearfix { zoom: 1; }
.no-border { border:0 !important; }
.no-padding { padding:0 !important; }
.no-margin { margin:0 !important; }
.no-padding-tb { padding-top:0 !important; padding-bottom:0 !important; }
.no-padding-lr { padding-left:0 !important; padding-right:0 !important; }
/*.left { float:left !important; }
.right { float:right !important; }*/
body { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; line-height:1.3em; -webkit-text-size-adjust:none; cursor:default}
h1 { color: #cf3118; font-size: 26px; line-height: 1.5em; padding-bottom: 5px;  text-transform:uppercase; }
h2 { color: #6DBC2F; font-size: 22px; margin-bottom:10px; line-height:1.3em; text-transform:uppercase;}
h3 { color: #6dbc2f; font-size: 21px;  }
h4 { color: #6dbc2f; font-size: 18px;  }
h5 { color: #000000; font-size: 14px; margin-bottom:10px; font-weight:bold;}
h6 { color: #000000; font-size: 12px; margin-bottom:5px; /*font-weight:bold;*/}
p { line-height: 1.5em; margin-bottom:10px; color:#333;}
img { vertical-align:middle; }
a { text-decoration:none; color:#4eac2e; }
a:hover { text-decoration:none; cursor:pointer; color:#95b68a; }
a:visited { text-decoration:none; cursor:pointer; color:#1e6a04; }
hr { color: #e8e8e8; background-color: #e8e8e8; height: 1px; border:none; margin:5px 0 10px 0; *margin:0; }
#wrapper { width: 100%; line-height: 1.3em; background:url(../images/background.jpg) left top repeat-x #bdbdbd;}
b { font-weight: bold; }


/*---header---*/
div#header { width:990px; margin:0 auto; margin-bottom:40px;}
div#header div.logo { margin:0 auto; padding:0 10px;}
div#header img { float:left; margin-top:10px;}
div#header div#special { background:url(../images/login.png) left top no-repeat; width:180px; height:86px; float:left; position:relative; margin:0 50px;}
div#header div#special ul { position:absolute; right:10px; top:36px; }
div#header div#special ul li { padding-left:5px;background:url(../images/list-dot.gif) left 8px no-repeat;}
div#header div#special a { color:#d03018; font-weight:bold; font-size:10px;}
div#header div#special a.help {position: absolute; left: 43px; display: block; top: 8px; width: 35px; height: 40px;text-indent: -9999px;}

div#header div.nav-left { background:url(../images/nav-left.png) left center no-repeat; width:9px; height:30px; float:left;}
div#header div.nav-right { background:url(../images/nav-right.png) left center no-repeat; width:9px; height:30px; float:left;}
div#header div.nav-mid { background-color:#cf3118; float:left;height:30px; color:white; overflow:hidden; width:970px; text-align:right;}
div#header div.nav-mid a { color:white; padding:8px 5px; display:inline-block;}
div#header div.nav-mid ul li { float:left;}
div#header div.nav-mid ul li a { display:block; padding:8px 30px; color:white; font-weight:bold;}
div#header div.nav-mid ul li a:hover { background-color:#f29485;}
div#header div.nav-mid ul li a.selected { background-color:#f29485; color:#741303;}
div#header div.nav-mid img {float: none; margin: 0;margin-bottom: 4px; *margin-bottom:15px; width: 6px;}

/*---footer---*/
div#footer { width:100%; background-color:#d03018; color:white; padding:5px 0;}
div#footer div.container { width:950px; margin:0px auto; text-align:right;}
div#footer div.container a { color:white;}
div#footer div.container span { margin:0 10px;}

/*---content---*/
div#content { width:990px; margin:0 auto; margin-bottom:40px;}

div#content div.top { padding-left:9px;}
div#content div.top div.topLeft { float:left;}
div#content div.top div.topRight {float:left; width:530px;}
div#content div.top div.topRight div.intro { background:url(../images/intro-bg.png) right top repeat-y; padding:15px 0; margin-bottom:10px; width:530px;}
div#content div.top div.topRight div.intro div.container { width:300px; margin-left:50px;}
div#content div.top div.topRight div.search div.searchLeft { background:url(../images/search-left.png) left top no-repeat; width:8px; height:110px; float:left; margin-left:15px;}
div#content div.top div.topRight div.search div.searchRight { background:url(../images/search-right.png) left top no-repeat; width:8px; height:110px; float:left;}
div#content div.top div.topRight div.search div.container {float:left; background:url(../images/search-bg.png) left top repeat; padding:15px 0; padding-left:5px; height:80px; position:relative; width:475px;}
div#content div.top div.topRight div.search div.container h2 { background:url(../images/wheel.png) right center no-repeat; padding-right:25px; margin-bottom:7px; float:left;
*margin-bottom:0px;}
div#content div.top div.topRight div.search div.container p { margin-bottom:0; clear:both}
div#content div.top div.topRight div.search div.container input#keyword { height:16px; margin:0; border:1px #d0d0d0 solid; padding:2px 0 2px 5px;; float:left; width:300px; font-weight:bold}
div#content div.top div.topRight div.search div.container input[type=submit] { height:23px; float:left;  border:none; cursor:pointer;  margin:0; font-weight:bold;}
div#content div.top div.topRight div.search div.container input[type=submit][value=search] { background:url(/images_new/search_button.jpg) no-repeat;color:transparent; width: 95px; padding: 0 10px 4px 15px;}
div#content div.top div.topRight div.search div.container label { display:none;}
div#content div.top div.topRight div.search div.container div.bubble { position:absolute; background:url(../images/bubble.png) left top no-repeat; width:139px; height:194px; right:-27px; bottom:23px;}
div#content div.top div.topRight div.search div.container div.bubble p { color:#797979; font-weight:bold; font-size:13px;}
div#content div.top div.topRight div.search div.container div.bubble div.top { width:85px; text-align:center; margin-top:14px; margin-left:10px;}
div#content div.top div.topRight div.search div.container div.bubble div.bottom { width:85px;margin-top: 20px;margin-left: 42px; text-align:center; [;margin-left:43px;]}
div#content div.top div.topRight div.search div.container div.bubble div.bottom p { font-size:16px;}

div#content div.bottom { padding-left:9px;}
div#content div.bottom div.bottomLeft { float:left; margin-right:13px;}
div#content div.bottom div.bottomLeft { background:url(../images/bottomLeft-bg.png) left top no-repeat; width:315px; height:227px;padding: 30px 0 0 30px;}
div#content div.bottom div.bottomLeft img.scholar { max-width: 100px; float:left; margin-right:10px;}
div#content div.bottom div.bottomLeft div.scholar { float:left; width:200px; overflow:hidden; max-height: 155px;}
div#content div.bottom div.bottomLeft div.scholar ul li { background:url(../images/list-dot.gif) left 7px no-repeat; padding-left:10px;}
div.more { float:left; margin-left:-30px;background:url(../images/plus.gif) 5px 6px no-repeat #6DBC2F; *width:61px; *height:19px;}
a.more { display:block; padding:2px 15px; color:white; font-size:10px;}
a.more:visited { color:white;}

div#content div.bottom div.bottomMid { float:left;  margin-right:13px; width:319px; margin-top:15px; *margin-right:12px;}
div#content div.bottom div.bottomMid div { padding-left:0;}
div#content div.bottom div.bottomMid div.top { width:319px; height:8px; background:url(../images/midTop.gif) top left no-repeat;}
div#content div.bottom div.bottomMid div.bottom { width:319px; height:8px; background:url(../images/midBottom.gif) top left no-repeat;}
div#content div.bottom div.bottomMid div.middle { background:#FFFFFF; padding:0 15px; height:249px;}
div#content div.bottom div.bottomMid div.middle h2 { margin-bottom:0; padding-top:10px;}
div#content div.bottom div.bottomMid div.middle h2 a { margin-left:20px;}
div#content div.bottom div.bottomMid div.middle h2 a img { margin-bottom:5px; *margin-bottom:2px;}
div#content div.bottom div.bottomMid div.middle a.detail { float:right;}
div#content div.bottom div.bottomMid div.middle div.latest { border-bottom:1px solid #acacac;}
div#content div.bottom div.bottomMid div.middle div.news { padding:10px 0 5px 0;}
div#content div.bottom div.bottomMid div.middle div.news p { margin-bottom:5px;}

div#content div.bottom div.bottomRight {float:left; width:285px; margin-top:15px;}
div#content div.bottom div.bottomRight div.top { width:285px; height:11px; background:url(../images/rightTop.gif) top left no-repeat;}
div#content div.bottom div.bottomRight div.bottom { width:285px; height:11px; background:url(../images/rightBottom.gif) top left no-repeat;}
div#content div.bottom div.bottomRight div.middle { background:#FFFFFF; padding:0 15px; height:243px;}
div#content div.bottom div.bottomRight div.middle ul { margin-left:5px;}
div#content div.bottom div.bottomRight div.middle ul li { background:url(../images/list-dot.gif) left 7px no-repeat; padding-left:10px; margin:8px 0;}
div#content div.bottom div.bottomRight div.middle ul li.latest img{ margin-left:5px; vertical-align:top;}


/*---INNER content---*/
div#content div.title { background:url(../images/title-bg.jpg) right center no-repeat #fdf2f0; padding:10px 0 10px 30px; margin-bottom:40px;} 
div#content div.title h1 { text-transform:uppercase; text-shadow:5px 5px 5px #cccccc; font-weight:bold; 
zoom: 1; 	background-color: white \9; 	filter: progid:DXImageTransform.Microsoft.Chroma(Color=white) 		progid:DXImageTransform.Microsoft.DropShadow(OffX=3, OffY=3, Color=#cccccc);}

div#content div.sidemenu { float:left; width:300px;}
div#content div.sidemenu div.top { background:url(../images/sidemenuTop.png) left top no-repeat; width:300px; height:20px;}
div#content div.sidemenu div.bottom { background:url(../images/sidemenuBottom.png) left top no-repeat; width:300px; height:20px;}
div#content div.sidemenu div.container {background:url(../images/sidemenu-bg.png) left top repeat; padding:8px 30px;}
div#content div.sidemenu div.container ul li {background:url(../images/list-dot.gif) left 7px no-repeat; padding-left:10px; margin:8px 0; }
div#content div.sidemenu div.container ul li a { /*color:#666666;*/ color:#4eac2e;}
div#content div.sidemenu div.container ul li a:hover { text-decoration:none; cursor:pointer; color:#95b68a; }
div#content div.sidemenu div.container ul li a:visited { text-decoration:none; cursor:pointer; color:#1e6a04; }

div#content div.richeditor { width:665px; margin-left:24px; float:left;}
div#content div.richeditor div.top { background:url(../images/richTop.gif) left top no-repeat; height:20px;}
div#content div.richeditor div.bottom { background:url(../images/richBottom.gif) left top no-repeat; height:20px;}
div#content div.richeditor div.container {background:white; padding:8px;}
div#content div.richeditor div.container input[type=submit] { height: 23px; float: left; border:none; cursor:pointer;  margin: 0px;}
div#content div.richeditor div.container input[type=submit][value=search] { background:url(/images_new/search_button.jpg) no-repeat;color:transparent;  width: 95px;  padding:0 10px 3px 15px; margin-right:10px; *padding:0 10px 2px 10px;}
div#content div.richeditor div.container input[type=submit][value=Search] { background:url(/images_new/search_button.jpg) no-repeat;color:transparent;  width: 95px;  padding:0 10px 3px 15px; margin-right:10px; *padding:0 10px 2px 10px;}
div#content div.richeditor div.container input[type=submit][value=Go] { background:url(/images_new/search_button.jpg) no-repeat;color:transparent;  width: 95px;  padding:0 10px 3px 15px; margin-right:10px; *padding:0 10px 2px 10px;}
div#content div.richeditor div.container input[type=reset] { background:url(/images_new/reset_button.jpg) no-repeat #acacac;color:transparent;  height:23px; width: 95px; float:left;  border:none; cursor:pointer;  margin:0; padding:0 10px 3px 15px; margin-right:10px; font-weight:bold;  *padding:0 10px 2px 10px;}
div#content div.richeditor div.container form { /*margin-bottom:1.6em;*/ position:relative;}
div#content div.richeditor div.container form label { margin-right:8px;}
div#content div.richeditor div.container form label[for=tfield1] { margin-right:47px;  margin-right:52px \9; *margin-right:48px;}
div#content div.richeditor div.container form input.keyword { height:16px; margin:0; border:1px #d0d0d0 solid; padding:2px 0 2px 5px; width:200px; margin-left:10px;}
div#content div.richeditor div.container form a.faculties { width:156px; width:160px \9;}
div#content div.richeditor div.container form a.and { margin-right:12px; margin-right:15px \9; *margin-right:13px; min-width:25px;}
div#content div.richeditor div.container form a.fields {width:200px;}
div#content div.richeditor div.container form a.name { width:200px; *margin-left:30px;}
div#content div.richeditor div.container form a, div#content div.richeditor div.container form a:visited, div#content div.richeditor div.container form a:hover { color:#000000;}
ul.selectBox-options li a { color:black}


/*--- BOX SEPARATER ---*/
div#content div.sidemenu div.separator { height: 10px; }

/*--- FULL ---*/
div#content div.full { width: 990px; margin-left: 0px; float: none; }
div#content div.full div.top { background:url(../images/richTopFull.gif) left top no-repeat; height:20px;}
div#content div.full div.bottom { background:url(../images/richBottomFull.gif) left top no-repeat; height:20px;}


div#content div.richeditor div.container table form { margin-bottom: 5px; }

/* --- FACET ---*/
div#content div.sidemenu div.container div.facet ul li { background: none; }
div#content div.sidemenu div.container div.facet { padding-bottom: 5px; }
div#content div.sidemenu div.container div.facet span { text-decoration: underline; }

/*--- DETAIL ---*/
div#content div.detail { background: none; margin-bottom: 0px;} 
div#content div.detail h1 { line-height: normal; text-transform: none; text-shadow: none; font-weight: normal; filter: none; color: #333; }

div#searchField fieldset { border: 2px groove; padding: 2px; }
div#searchField fieldset legend { font-weight: bold; } 
div#searchField fieldset label a { text-decoration: underline; margin-left: 5px; margin-right: 5px; }
div#searchField select { margin: 3px; }
div#searchField div.leftpad, div#searchField div.rightpad { margin: 5px; display: inline-block;}
div#searchField div.leftpad > input { width: 450px;}

div#header div.nav-mid ul li.popupmenu > a { padding-bottom: 3px; }
div#header div.nav-mid ul li.popupmenu ul { position: absolute; display: none; }
div#header div.nav-mid ul li.popupmenu:hover ul { display: block; }
div#header div.nav-mid ul li.popupmenu ul li { background-color: #d03018; }

a.authority { background: url(/images_new/authority-current.gif) right no-repeat; padding-right: 20px; display: inline-block; white-space: nowrap;}
a.authority-disabled { background: url(/images_new/authority-disabled.gif) right no-repeat; }

div.viewnested > div.dynaField { width: 100%; }
div.viewnested > div.dynaField > div.dynaFieldValue { width: 99%; }

/*--- SEARCH FIELD BOX ---*/
div.search_field_box { background-color: rgb(238,248,235); padding: 20px; color: #666666; overflow: hidden; }
div.search_field_box div.search_field_box_title { font-weight: bolder; font-size: 30px; padding-bottom: 10px;}
div.search_field_box div.search_field_box_jump { font-size: 14px; padding-top: 10px; padding-bottom: 10px; font-weight: bold;}
div.search_field_box div.search_field_box_jump div.search_field_box_jump_label { display: inline-block; }
div.search_field_box div.search_field_box_jump a { color: #666666; }
div.search_field_box div.search_field_box_content { width: 100%; }
div.search_field_box div.search_field_box_content input[type="text"] { width: 80%; padding: 0px; display: inline-block; vertical-align: middle;}
div.search_field_box div.search_field_box_search_button { width: 95px; height: 23px; background: url('/images_new/search_button.jpg') no-repeat; cursor: pointer; display: inline-block; vertical-align: middle; }

/*--- LIST NAVIGATION ---*/
div.list_navigation { overflow: hidden; }
div.list_navigation div.list_navigation_range { float: left; color: #cd3323; font-weight: bold; font-size: 14px;}
div.list_navigation div.list_navigation_page { float: right; }
div.list_navigation div.list_navigation_page a { text-decoration: underline; }
div.list_navigation_top { text-align: right; margin-right: -8px; margin-top: 12px; }
